html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(230, 230, 230);
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  position: absolute;
  width: 100%;
  top: 5.3em;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(106, 106, 106);
}

h2{
  margin: 1em 0 .4em 0;
  font-size: 16px;
  letter-spacing: 1px;
}

p{
  margin-top:0;
}

.landscape{
  grid-column: span 2;
  background: green;
}

.snipcart-total-price {
  font-size: 20px;
  color: #444444;
}

.card{
  background: rgb(76, 64, 89);
  color: azure;
  margin: 0;
  /* width: clamp(18.75rem, 11.932rem + 34.09vw, 37.5rem); */
  width: 90%;
  max-width: 600px;
  border-radius: 2em;
  transform: scale3d(1,1,1);
  overflow: hidden;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802),
  0px -2.4px 2.2px rgba(255, 255, 255, 0.02),
  -1px -5.7px 5.3px rgba(255, 255, 255, 0.03),
  -3px -10.6px 10px rgba(255, 255, 255, 0.035),
  -6px -19px 17.9px rgba(255, 255, 255, 0.04),
  -12px -35.5px 33.4px rgba(255, 255, 255, 0.05),
  -18px -85px 80px rgba(255, 255, 255, 0.07);

  transition: transform ease-out .3s;
}
.card .content {
  padding: 0 2rem 1.9rem 2rem;
  max-width: 36ch;
}
.card button {
  background: inherit;
  cursor: pointer;
}
.card button:hover, .card button:focus { background: inherit;}
.card .content p { padding-left: .15em; opacity: .8; }
.card p:last-child{
  padding-bottom: .5rem;
}
.card:hover, .card:focus{
  transform: scale3d(.99,.99,.99);
}

h2, p, .container { position: relative; }

button{
  padding: .1em 2em;
  border: none;
  border-radius: 60px;
  transition: transform ease-out .2s;
}
button:hover, button:focus{
  background: white;
  transform: scale3d(.98,.98,.98);
}

.layout{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  align-items: start;
  justify-items: center;
  row-gap: 2.5em;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8em;
  padding-top: 3em;
-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
    top: 80vh;
}

.main {
  position: fixed;
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.live{
  position: absolute;
  display: flex;
  align-items: center;
  top: 3em;
  left: 3em;
  background: rgb(255, 36, 36);
  background: linear-gradient(142deg, rgba(255, 36, 36, 1) 45%, rgba(255, 55, 175, 1) 73%, rgba(155, 34, 255, 1) 100%);
  color: white;
  border-radius: 30px;
  padding: .5em 1em .5em .8em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.001rem;
  cursor: pointer;
}

.anim1{
  width: 100%;
  background: white;
  height: 50vh;
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
}

.live-dot{
  background: white;
  border-radius: 30px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 800px) {
  .layout{
    grid-template-columns: 1fr;
    max-width: 450px;
  }
}

/* snipcart */
.snip-product{
  background: hsla(0, 0%, 93%, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.snipcart-items-count{
  position: relative;
  bottom: 10px;
  font-size: 8px;
  background: red;
  padding: .3em .7em;
  border-radius: 30px;
}

.snipcart-checkout{
  position: fixed;
  top: 3em;
  right: 3em;
  padding: 1em;
  border-radius: 50px;
  background: hsla(0, 0%, 100%, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.snipcart-item-line__product{
  padding: 1em;
  background: rgba(172, 172, 172, 0.5);
  border-radius: 30px;
}

.snipcart-item-quantity__quantity {
  padding-left: 1em;
}

.snipcart-item-quantity__quantity{
  display: absolute;
  background: none;
  margin-left: 0;
  border-radius: 20px;
}
.snipcart-item-quantity__quantity:hover{
  background: none;
}

.snipcart-cart__secondary-header-title{
  margin-top: -1em;
  margin-left: -3em;
  font-size: 10px;
}